{{ user.username }}
<form name="recipeForm" ng-submit="recipeForm.$valid && ctrl.submit()" novalidate>

  <div ng-show="ctrl.display">
    <h4 class= "text-center"> {{ctrl.recipe.title}}</h4>
  </div>

  <div ng-hide="ctrl.display">
  <label>Title</label>
  <input  class="form-control"
          type="text"
          name="recipeTitle"
          ng-model="ctrl.recipe.title"
          placeholder="Enter a Recipe Title"
          required
          already-in-database>

  <div style="color:red" ng-messages="recipeForm.recipeTitle.$error" ng-if="recipeForm.recipeTitle.$touched || recipeForm.$submitted">
    <div ng-message="required">Recipe requires a title</div>
    <div ng-message="alreadyInDatabase">That title is already taken</div>
  </div>
</div>

  </br>

  <label>Ingredients</label>
  <div data-as-sortable="ctrl.dragControlListeners" data-ng-model="ctrl.recipe.ingredients_attributes">
    <li class="list-group-item" data-ng-repeat="ingredient in ctrl.recipe.ingredients_attributes | orderBy:ingredient.place" data-as-sortable-item>
      <div>

        <div>
          <ng-form name="ingredientForm">
            <div ng-show="ctrl.display">
              {{ ingredient.name }}, {{ ingredient.quantity_prep }}
            </div>
            <div ng-hide="ctrl.display">
              <div class="form-inline">

                <select ng-show="ctrl.ingredients.length > 0"
                        class="form-control"
                        name="ingredientSelect"
                        ng-model="selectedIngredient"
                        ng-options='x.name for x in ctrl.ingredients'
                        ng-change="ctrl.setIngredient(selectedIngredient, ingredient)">
                        <option value="">Select Ingredient</option>
                </select>

                <input class="form-control"
                       ng-if="!selectedIngredient"
                       name="ingredientName"
                       ng-model="ingredient.name"
                       placeholder="New Ingredient"
                       already-in-database
                       required>

                <input class="form-control"
                       name="ingredientQuantity"
                       ng-model="ingredient.quantity_prep"
                       placeholder="Quantity/Prep"
                       required>
              </div>

              <div class="form-group" style="color:red">
                <div ng-messages="ingredientForm.ingredientName.$error">
                  <div ng-message="required" ng-if="ingredientForm.ingredientName.$touched ||ingredientForm.$$parentForm.$submitted" > This ingredient entry lacks a name </div>
                  <div ng-message="nameAlreadyEntered" ng-if="ingredientForm.ingredientName.$touched ||ingredientForm.$$parentForm.$submitted" > Looks like you already entered this ingredient </div>
                  <div ng-message="alreadyInDatabase" ng-if="ingredientForm.ingredientName.$touched ||ingredientForm.$$parentForm.$submitted" > This ingredient is already in the database </div>

                </div>
                <div ng-messages="ingredientForm.ingredientQuantity.$error">
                  <div ng-message="required" ng-if="ingredientForm.ingredientQuantity.$touched || ingredientForm.$$parentForm.$submitted"> This ingredient entry lacks a quantity </div>
                </div>
              </div>

            </div>
          </ng-form>
        </div>

        <div ng-hide="ctrl.display">
          <div>
            <button type="button" ng-show="ctrl.recipe.ingredients_attributes.length > 1" class="btn btn-danger btn-xs" ng-click="ctrl.removeEntry(ingredient, ctrl.recipe.ingredients_attributes)">remove</button>
            <button type="button" ng-show="ctrl.recipe.ingredients_attributes.length > 1" class="btn btn-info btn-xs" data-as-sortable-item-handle>drag me</button>
            <button type="button" ng-show="ctrl.recipe.ingredients_attributes.indexOf(ingredient) == (ctrl.recipe.ingredients_attributes.length - 1)" ng-click="ctrl.addIng()"class="btn btn-success btn-xs">add more </button>

          </div>
        </div>

      </div>
    </li>
  </div>

  </br>

  <label>Directions</label>
  <div data-as-sortable="ctrl.dragControlListeners" data-ng-model="ctrl.recipe.directions_attributes">
    <li class="list-group-item" data-ng-repeat="direction in ctrl.recipe.directions_attributes | orderBy:direction.place" data-as-sortable-item>
      <div class="row">
        <div class="col-md-6">
          <ng-form name="directionForm">
            <div ng-show="ctrl.display">
              {{ ctrl.recipe.directions_attributes.indexOf(direction) + 1}}. {{ direction.content }}
            </div>
            <div ng-hide="ctrl.display">
              <div class="form-inline">
                <textarea class="form-control"
                          name="direction"
                          ng-model="direction.content"
                          placeholder="enter single step"
                          required>
                </textarea>
              </div>

              <div class="form-group" style="color:red" ng-messages="directionForm.direction.$error">
                <div ng-message="required" ng-show="!ctrl.transformed" ng-if="directionForm.direction.$touched || directionForm.$$parentForm.$submitted"> This direction text box is blank </div>
              </div>

            </div>
          </ng-form>
        </div>

        <div class="col-md-6">
          <div class="pull-right" ng-hide="ctrl.display">
            <button type="button" ng-show="ctrl.recipe.directions_attributes.indexOf(direction) == (ctrl.recipe.directions_attributes.length - 1)" ng-click="ctrl.addStep()"class="btn btn-success btn-xs">add more </button>
            <button type="button" ng-show="ctrl.recipe.directions_attributes.length > 1" class="btn btn-danger btn-xs" ng-click="ctrl.removeEntry(direction, ctrl.recipe.directions_attributes)">remove</button>
            <button type="button" ng-show="ctrl.recipe.directions_attributes.length > 1" class="btn btn-info btn-xs" data-as-sortable-item-handle>drag me</button>
          </div>
        </div>

      </div>
    </li>
  </div>

  </br>
  </br>
  <div class="form-inline">
    <input  ng-show="!ctrl.display"
            class="btn btn-primary"
            type="submit"
            value="submit">
    <button type="button" ng-show="ctrl.recipe.id && ctrl.display" ng-click="ctrl.display=false" class="btn btn-secondary">Edit</button>
    <button type="button" ng-show="ctrl.recipe.id" ng-click="ctrl.deleteRecipe()" class="btn btn-danger">Delete</button>
  </div>
</form>
