<h4> Recipe: {{ ctrl.recipe.title }} </h4>

<div ng-show="!ctrl.recipe.id">

  <form name="recipeForm" ng-submit="ctrl.submit()">

    <label>Title</label>
    <input  class="form-control"
            type="text"
            name="recipeTitle"
            ng-model="ctrl.recipe.title"
            placeholder="Enter a Recipe Title">

    <div data-as-sortable="ctrl.dragControlListeners" data-ng-model="ctrl.recipe.recipe_ingredients">
      <div data-ng-repeat="ingredient in ctrl.recipe.recipe_ingredients | orderBy:ingredient.place" data-as-sortable-item>
        <select class="form-control"
                name="ingredientSelect"
                ng-model="selectedIngredient"
                ng-options='x.name for x in ctrl.ingredients'
                ng-change="ctrl.setIngredient(selectedIngredient, ingredient)">
          <option value="">Select Ingredient</option>
        </select>

        <input  class="form-control"
                ng-show="!selectedIngredient"
                name="ingredientName"
                ng-model="ingredient.name"
                placeholder="New Ingredient">

        <input  class="form-control"
                name="ingredientQuantity"
                ng-model="ingredient.quantity_prep"
                placeholder="Quantity/Prep">
        <button type="button" data-as-sortable-item-handle>drag me</button>
        <button type="button" ng-click="ctrl.addIng()">
          Add Another ingredient
        </button>
        <button type="button"
                ng-show="ctrl.recipe.recipe_ingredients.length > 1"
                class="btn btn-danger btn-xs"
                ng-click="ctrl.removeEntry(ingredient, ctrl.recipe.recipe_ingredients)">
          remove
        </button>

      </div>
    </div>
    <br>

    <div data-as-sortable="ctrl.dragControlListeners" data-ng-model="ctrl.recipe.directions">
      <div data-ng-repeat="direction in ctrl.recipe.directions | orderBy:direction.place" data-as-sortable-item>
        <textarea class="form-control"
                  name="direction"
                  ng-model="direction.content"
                  placeholder="enter single step">
        </textarea>
        <button type="button" data-as-sortable-item-handle>drag me</button>
        <button type="button" ng-click="ctrl.addStep()">
          Add Another step
        </button>
        <button type="button"
                ng-show="ctrl.recipe.directions.length > 1"
                class="btn btn-danger btn-xs"
                ng-click="ctrl.removeEntry(ingredient, ctrl.recipe.directions)">
          remove
        </button>
      </div>
  </br>
    <input class="btn btn-primary"
           type="submit"
           value="submit">
  </form>
</div>
</div>



<div ng-show="ctrl.recipe.id">
  <div ng-repeat="ingredient in ctrl.recipe.recipe_ingredients">
    <p> {{ ingredient.name }}, {{ingredient.quantity_prep}}</p>
  </div>

  <div ng-repeat="direction in ctrl.recipe.directions">
    <p> {{ direction.step }}. {{direction.content}}</p>
  </div>
</div>
