<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body ng-app='app'>
    <ui-view></ui-view>
  </body>

</html>
